body {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  height: 840px;
  width: 840px;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
}

.grid-item {
  height: 50%;
  width: 50%;
  background-color: grey;
}

#settings {
  padding: 0 16px;
}
